@charset "utf-8";
body {
	margin-left: auto;
	margin-right: auto;
	background-color: #FFD3BA;
	position: relative;
}
.container {
	width: 1024px;
	background-color: #A65F60;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}



header {
	background-color: #754B4B;
	width: 1024px;
	min-height: 209.16px;
	text-align: center;
}
header img {
	text-align: right;
	float: right;
	min-height: 0px;


}
header h1 {
	font-size: 86px;
	color: #E09E9E;
	font-family: Vivaldi;
	position: relative;
	text-decoration: none;
	width: auto;
	padding-top: 65px;
}


nav {
	background-color: #EEEAA6;
	width: 1024px;
	min-height: 81px;
}
nav section #a:hover  {
	text-shadow: 0px 0px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	background-color: #E1D3D4;
}


nav section {
	text-align: center;
	padding-top: 22px;
	
}


section a {
	text-decoration: none;
	color: #4B2D2D;
	text-shadow: 0px 0px;
	font-size: 29px;
	padding-left: 39px;
}
nav a:hover {
	background-color: #E78787;
}

main {
	width: 1024px;
	background-color: #ECD1C1;
	min-height: 750px;
	text-align: center;
}
main .m {
	padding-top: 132px;
	padding-left: 17px;
}
main .tcookies table {
}
main .m iframe {
}




.r1 td .img {
}







main .tpancake {
	text-align: center;
	padding-left: 153px;
}
main .tpancake table {
}

main .tcupcake {
	padding-left: 271px;
}
main .tcupcake table {
}


main .tdonut {
	padding-left: 220px;
}
main .tdonut table {
}

main .tcookies {
	text-align: center;
	padding-left: 264px;
}


main .tcake {
	padding-left: 216px;
}
main .twaffle {
	padding-left: 268px;

}
main .twaffle table {
}



main .t2cake {
	padding-left: 99px;
}
main form img {
}










tbody tr td {
	background-color: #FFD3BA;



}





tr td a:hover  {
	color: #ECB2B4;


}


tbody .r1 td {
	border-top: 46px solid #ECD1C1;
	border-right: 26px solid #ECD1C1;


}
tbody .r2 td {
	border-top: -200px solid #ECD1C1;
	border-right: 26px solid #ECD1C1;
}
main form input {
	font-size: 39px;


}
main form button {
	font-size: 44px;
	background-color: #492426;
	color: #FFFFFF;
	font-weight: 400;
	font-style: normal;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
.t2cake table {
}
main .tcake table {
}










footer {
	width: 1024px;
	background-color: #754B4B;
	height: 67px;
}


footer .foot {
	text-align: center;
}
footer .foot a {
	padding-left: 39px;
	padding-top: 16px;
	text-align: center;

}


@media (max-width : 500px ){
	main form img {width: 450px;
}
	
	
	
	/*waffle*/
	main .twaffle {
	padding-left: 120px;

}
main .twaffle table {width: 250px;
}
	
	
	 /*pancake*/
	main .tpancake {
	padding-left: 100px;
}
main .tpancake table {width: 310px;
}
	
	
	
	
	    /*donut*/
	main .tdonut {
	padding-left: 110px;
}
main .tdonut table {width: 290px;
}
	
	
	
	
	 /*cupcake*/

	main .tcupcake {
	padding-left: 120px;
}
main .tcupcake table {width: 250px;
}
	
	
	 /*cookies*/
	main .tcookies table {width: 250px;
}
main .m iframe { width: 400px; height: 300px;
}
	main .tcookies {
	text-align: center;
	padding-left: 120px;
}
	
	
	
		             /*cake*/
	
	main .tcake table {width: 260px;
}
		.t2cake table {width:260px;
}

main .t2cake {
	padding-left:0px;
}	
	
	
	
	
	          /*الواجهه وتقسيم الصفحات*/
	
	.r1 td .img { width: 150px;
		height: 100px;
}
tr td a:hover  {
	color: #ECB2B4;


}
tbody .r1 td {
	border-top: 0px solid #ECD1C1;
	border-right: 0px solid #ECD1C1;


}
tbody .r2 td {
	border-top: 0px solid #FFD3BA;
	border-right: 0px solid #ECD1C1;
}	
	section a {
		font-size: 15px;
	padding-left: 10px;}
	header h1 {font-size: 45px;}
	.container{width: 100%;}
	main{width: 100%;}
	header{width: 100%;}
	footer{width: 100%;}	
	nav{width: 100%;}
	
}

@media (min-width : 501px ) and ( max-width : 770px ){
	
	/*waffle*/
	main .twaffle {
	padding-left: 60px;

}
main .twaffle table {width: 500px;
}

	
	
	
	 /*pancake*/
	main .tpancake {
	padding-left: 80px;
}
main .tpancake table {width: 500px;
}
	
	
		    /*donut*/
	main .tdonut {
	padding-left: 50px;
}
main .tdonut table {width: 450px;
}
	
	
      	 /*cupcake*/
	main .tcupcake {
	padding-left: 110px;
}
main .tcupcake table {width: 450px;
}
	
	          /*cookies*/
	
		main .tcookies table {width: 400px;
}
main .m iframe { width: 500px; height: 400px;
}
	main .tcookies {
	text-align: center;
	padding-left: 120px;
}

	
	
	             /*cake*/
		main .tcake table {width: 400px;
}
	.t2cake table {width: 400px;
}
	main .t2cake {
	padding-left:0px;
}	
	
	
           /*الواجهه وتقسيم الصفحات*/
	
	.r1 td .img { width: 200px;
		height: 100px;
}
tr td a:hover  {
	color: #ECB2B4;


}
tbody .r1 td {
	border-top: 0px solid #ECD1C1;
	border-right: 0px solid #ECD1C1;


}
tbody .r2 td {
	border-top: 0px solid #FFD3BA;
	border-right: 0px solid #ECD1C1;
}
	section a {
		font-size: 19px;
	padding-left: 19px;}
	header h1 {font-size: 50px;}
	.container{width: 100%;}
	main{width: 100%;}
	header{width: 100%;}
	footer{width: 100%;}	
	nav{width: 100%;}
}

@media (min-width:771px) and (max-width:1023px){
	
	
	
		/*waffle*/
	main .twaffle {
	padding-left: 40px;

}
main .twaffle table {width: 500px;
}

	
	
	
		 /*pancake*/
	main .tpancake {
	padding-left: 80px;
}
main .tpancake table {width: 500px;
}
	
	
	
	
	
		    /*donut*/
	main .tdonut {
	padding-left: 50px;
}
main .tdonut table {width: 450px;
}
	
	
	 /*cupcake*/
	main .tcupcake {
	padding-left: 110px;
}
main .tcupcake table {width: 450px;
}
	
	          /*cake*/

		main .tcake table {width:400px;
}
		.t2cake table {width: 400px;
}
	
	main .t2cake {
	padding-left: 0px;
}	
	
	
	
         /*الواجهه وتقسيم الصفحات*/
	
	.r1 td .img { width: 300px;
		height: 170px;
}
tr td a:hover  {
	color: #ECB2B4;


}
tbody .r1 td {
	border-top: 0px solid #ECD1C1;
	border-right: 0px solid #ECD1C1;


}
tbody .r2 td {
	border-top: 0px solid #FFD3BA;
	border-right: 0px solid #ECD1C1;
}		
	section a {
		font-size: 25px;
	padding-left: 25px;}
	header h1 {font-size: 70px;}
	.container{width: 100%;}
	main{width: 100%;}
	header{width: 100%;}
	footer{width: 100%;}	
	nav{width: 100%;}
}
